body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.btn-danger{
  background-color: #c1382a;
  float: right;
  margin-right: 15px;
  margin-bottom: 15px;
}

.nopadding{
  padding:0 !important;
  margin:0 !important;
}

.bg-nav{
    background-color: #ffffff;
}

#homepage-background{
    position: relative; 
    height: 50vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url("assets/img/aquitaine-parthenay-deux-sevres-medieval.jpg");
    background-size: cover;
    background-position: center;
}

#homepage-background{
    position: relative; 
    height: 50vh;
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('assets/img/aquitaine-parthenay-deux-sevres-medieval.jpg');
    background-size: cover;
}

#homepage-background::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(39, 174, 96, 0.5);
  }

.title-section{
  background-color:#c1382a;
  padding: 10px;
  display: inline;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;  
  font-size: 42px;
  text-align: center;
}

.title-green{
  margin: 0;
  background-color:#27ae60;
  text-align: center;
  padding: 10px;  
  color: #ffffff;
  font-size: 32px;
}

.title-red{
    margin:0;
    background-color:#c1382a;
    text-align: center;
    padding: 10px;  
    color: #ffffff;
    font-size: 32px;
}

.home-box{
    padding:20px;
    position: relative;
    margin-bottom: 15px;
    width: 100%;
    height: 350px;
    align-items: center;
    justify-content: center;
    background-image: url('assets/img/manif.jpg');
    background-size: cover;
}

.home-box::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(193, 56, 42, 0.5);
  }

  .home-box-events{
    position: relative;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    background-image: url('assets/img/reunion-travail-efficace.jpg');
    background-size: cover;
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .home-box-events::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color:  rgba(39, 174, 96, 0.5);
  }

  .card-events{
    position: relative;
    height: auto;
    width: 80%;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
  }

  .home-img-event{
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-image: url('assets/img/reunion-travail-efficace.jpg');
    background-size: cover;
  }

  .event-padding{
    padding: 20px;
  }

  .home-title-event{
    text-align: center;
    margin-right: 15px;
  }

  .home-date-event{
    text-align: center;
    font-weight: 800;
    font-size: 26px;
    margin-right: 15px;
    margin-left: 15px;
  }

  .home-place-event{
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 18px;
  }

  .home-text-event{
    margin-right: 15px;
    margin-left: 15px;
    font-size: 14px;
    text-align: justify;
  }

  .link-ac{
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      display: block;
      width: 350px;
      height: auto;
      padding: 10px;
      position: relative;
      list-style: none;
      color: #ffffff;
      background-color: #27ae60;
  }

  .link-ac:hover{
    text-decoration: none;
    color: #ffffff;    
    background-color: #c1382a;
  }

  .link-ac::before{
      content: "\f0c0";
      color: #fff;
      font-family: FontAwesome;
      font-size: 32px;
      position: relative;
      top: 15px;
      left: -5px;
      margin-right: 10px;
  }

  .link-doleance{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    width: 350px;
    height: auto;
    padding: 10px;
    position: relative;
    list-style: none;
    color: #ffffff;
    background-color: #27ae60;
  }

  .link-doleance:hover{
    text-decoration: none;
    color: #ffffff;    
    background-color: #c1382a;
  }


  .link-doleance::before{
    content: "\f086";
    color: #fff;
    font-family: FontAwesome;
    font-size: 32px;
    position: relative;
    top: 0px;
    left: -5px;
    margin-right: 10px;
}

.link-action{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    width: 350px;
    height: auto;
    padding: 10px;
    position: relative;
    list-style: none;
    color: #ffffff;
    background-color: #27ae60;
  }

  .link-action:hover{
    text-decoration: none;
    color: #ffffff;    
    background-color: #c1382a;
  }


  .link-action::before{
    content: "\f271";
    color: #fff;
    font-family: FontAwesome;
    font-size: 32px;
    position: relative;
    top: 0px;
    left: -12px;
    margin-right: 10px;
}